<ng-container *ngFor="let district of federalDistricts">
  <div class="item">
    <button (click)="loadRegion(district); checkedChildren(district); expand(district)">
      +
    </button>
    <input 
      type="checkbox"
      [checked]="district.checked" 
      (change)="checked(district);"/>
    <span>{{ district.name }}</span>

    <ng-container *ngIf="district.regions && district.toggled">
      <app-region 
        [regions]="district.regions"
        [parrentChecked]="district.checked"
        (deselect)="deselected(district, $event)">
      </app-region>
    </ng-container>
  </div>
</ng-container>
