<ng-container *ngFor="let district of federalDistricts">
  <form [formGroup]="formGroup">
    <div class="item">
      <button (click)="loadRegions(district.id)">
        +
      </button>
      <input type="checkbox" />
      <label>{{ district.name }}</label>

      <ng-container *ngIf="district.regions">
        <div *ngFor="let region of district.regions" class="nest-item">
          <button (click)="loadCities(region.id)">
            +
          </button>
          <input type="checkbox" />
          <label>{{ region.name }}</label>

          <ng-container *ngIf="region.cities">
            <div *ngFor="let city of region.cities" class="double-nest-item">
              <input type="checkbox" />
              <label>{{ city.name }}</label>
            </div>
          </ng-container>

        </div>
      </ng-container>
    </div>
  </form>
</ng-container>
