<ng-container *ngFor="let region of regions">
  <div class="item">
    <button (click)="loadCities(region); checkedChildren(region); toggle(region)">
      +
    </button>
    <input 
      type="checkbox" 
      [checked]="region?.checked" 
      (change)="checked(region); onDeselect(region?.checked)"/>
    <span>{{ region?.name }}</span>

    <ng-container *ngIf="region?.cities && region?.toggled">
      <app-city 
        [formGroup]="formGroup"
        [controlName]="'cities'"      
        [cities]="region?.cities" 
        [parrentChecked]="region?.checked"
        (deselect)="deselected(region, $event)">
      </app-city>
    </ng-container>
  </div>
</ng-container>
